.post-detailed-card {
  width: 1040px;
  height: 866px;
  top: 258px;
  left: 200px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-author-img {
  width: 28px;
  height: 28px;
  top: 16px;
  left: 26px;
  border: 1.03px solid;
  border-radius: 20px;
  margin-left: 8px;

  border: 1.03px solid;

  border-image-source: linear-gradient(
    314.35deg,
    #e20337 6.03%,
    #c60188 40.88%,
    #7700c3 73.23%
  );
}
.profile-card {
  width: 1040px;
  height: 60px;
  border-radius: 4px, 4px, 0px, 0px;
  border: 1px;
  border: 1px solid #dbdbdb;
  display: flex;
  align-items: center;
}
.author-name {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 8px;
}
.post-img {
  width: 1040px;
  height: 614px;
  top: 59px;
}
.icon {
  width: 24px;
  height: 24px;
  top: 688px;
  left: 24px;
  padding: 2px, 0.76px, 2px, 0px;
}
.icon-btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.icon-share {
  color: #475569;
}
.post-bottom-container {
  width: 1040px;
  height: 205px;
  top: 672px;
  border-radius: 0px, 0px, 4px, 4px;
  border: 1px solid #dbdbdb;
  padding: 10px;
}
.comments-list-container {
  list-style-type: none;
  padding-left: 0;
}
.likes-text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.comment-user-name {
  color: #262626;
  font-weight: 500;
}
.caption-text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.created-time {
  color: #989898;
}

@media (max-width: 767px) {
  .post-detailed-card {
    width: 350px;
    border: 0;
  }
  .profile-card {
    width: 350px;
    border: 0;
  }
  .post-img {
    width: 350px;
    border: 0;
  }
  .post-bottom-container {
    width: 350px;
    border: 0;
  }
}
